/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    padding: 2px;
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    margin: 0 0 0 6px;
    padding: 12px;
    outline: none;
}

input.room {
    background: #333;
    color:white;
    /* border: 1px solid #333; */
    height: 40px;
    vertical-align: middle;
    /* padding: 0; */
    padding: 12px;
    outline: none;
}

input.message {
    width: 400px;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #000;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

button:hover {
    background: #6b47b8;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

button.googs {
    background: #333;
    display: inline-block;
    height: 46px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    width: 191px;

    background-image: url('/img/btn_google_signin_dark_normal_web.png');
    background-size: 191px 46px;
    height: 46px;  
    width: 191px;
}

/* Join Page Styles */

.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 250px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Chat Page Layout */

.chat {
    display: flex;
}

.chat__sidebar {
    display: flex;
    flex-direction: column;
}

.chat__sidebar_room {
    /* height: 100vh; */
    height: 85vh;
    color: white;
    background: #333744;
    width: 225px;
    float:left;
    /* overflow-y: scroll; */
}

.chat__sidebar_rooms {
    /* height: 100vh; */
    height: 15vh;
    color: white;
    background: #333744;
    width: 225px;
    /* overflow-y: scroll; */
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 16px;   
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

.message a {
    color: #0070CC;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
}

a {
    color: crimson;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: darkblue;
}

a:visited {
    color: crimson;
}

.log-in {
    background-color: #333333;
    padding: 24px;
    height: 100vh;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    /* padding: 24px;    */
    padding: 12px 24px 12px 12px;
}
.rooms-title {
    font-weight: 200;
    font-size: 20px;
    background: #2c2f3a;
    /* padding: 24px;    */
    padding: 12px 24px 12px 12px;
}

.log-out {
    font-weight: 100;
    font-size: 16px;
    background: #2c2f3a;
    padding: 6px 24px 6px 12px;
}

button.logout {
    /* float: right; */
    margin-left: 60px;
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 42px 24px 0 24px;
}

.rooms {
    list-style-type: none;
    font-weight: 100;
    padding: 12px 24px 0 24px;
}

/* video */
.youtube-width {
    max-width: 1000px;
    min-width: 200px;
}
    
.video-responsive {
	position: relative;
    overflow: hidden;
	padding-bottom: 56.25%; /* 16:9 */
    position: relative;
    height: 0;
}
.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
