<div class="message">
  <p>
    <span class="message__name">{{username}}</span>
    <span class="message__meta">{{createdAt}}</span>
  </p>
  <p><a href="{{url}}" target="_blank">my location</a></p>
</div>
